<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Chelsea Players Stats</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<script>
    function validateCompetitionForm(competitionname) {
    if (competitionname.trim() == "") {
        alert("Competition name cannot be empty!");
        return false;
    }
    return true;
}
</script>

<div class="container">
    <h1> Add Competition</h1>
</div>

<div class="container">
    <form action="#" th:action="@{/competitions/save}" th:object="${competition}" method="POST"
          th:onsubmit="return validateCompetitionForm(
          document.getElementById('name').value);">
        <label for="name"> Competition name: </label>
        <input id="name" type="text" th:field="*{name}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Save Competition</button>
        <button type="reset" class="btn btn-info col-2">Reset</button>
    </form>
</div>
<br>
<div class="container">
    <a th:onclick="history.back()" class="btn btn-primary btn-sm mb-3"> Back to Competitions page </a>
    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Back to Homepage </a>
</div>

</body>
</html>