<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Chelsea Players Stats</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<script>
    function validateSeasonForm(startyear, endyear) {
    if (startyear === "") {
        alert("Incorrect value of start of the season!");
        return false;
    }
    if (endyear === "") {
        alert("Incorrect value of end of the season!");
        return false;
    }
    if (Number(startyear) > Number(endyear)){
        alert("End of the season cannot be earlier than start of the season!");
        return false;
    }
    if (Math.abs(Number(endyear) - Number(startyear)) != 1){
        alert("Difference between startyear and endyear must be exactly 1");
        return false;
    }
    return true;
}
</script>

<div class="container">
    <h1> Add Season</h1>
</div>

<div class="container">
    <form action="#" th:action="@{/seasons/save}" th:object="${season}" method="POST"
          th:onsubmit="return validateSeasonForm(document.getElementById('start').value,
          document.getElementById('end').value);">
        <label for="start"> Start of the season: </label>
        <input id="start" type="number" min="0" th:field="*{startyear}" class="form-control mb-4 col-4">
        <label for="end"> End of the season: </label>
        <input id="end" type="number" min="0" th:field="*{endyear}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Save Season</button>
        <button type="reset" class="btn btn-info col-2">Reset</button>
    </form>
</div>
<br>
<div class="container">
    <a th:onclick="history.back()" class="btn btn-primary btn-sm mb-3"> Back to Seasons page </a>
    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Back to Homepage </a>
</div>

</body>
</html>