<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Chelsea Players Stats</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1> Seasons</h1>
</div>
<div class="container">
    <a th:href="@{/seasons/add}" class="btn btn-primary btn-sm mb-3"> Add a Season </a>
</div>
<div class="container">
    <table style="width:80%" border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>No.</th>
            <th>Season</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="season:${allseasonlist}">
                <td> 0 </td>
                <td th:text="${season.startyear} + '/' + ${season.endyear}"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <a th:href="@{/}"> Back to Homepage </a>
</div>

</body>
</html>