<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Chelsea Players Stats</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<script>
    function validateTeamForm(teamname, city, country) {
    if (teamname.trim() == "") {
        alert("Team name cannot be empty!");
        return false;
    }
    if (!/[^a-zA-Z]/.test(city)) {
        alert("City name must contain only letters!");
        return false;
    }
    if (!/[^a-zA-Z]/.test(country)) {
        alert("Country name must contain only letters!");
        return false;
    }
    return true;
}
</script>

<div class="container">
    <h1> Add Team</h1>
</div>

<div class="container">
    <form action="#" th:action="@{/teams/save}" th:object="${team}" method="POST"
          th:onsubmit="return validateTeamForm(
          document.getElementById('name').value,
          document.getElementById('city').value,
          document.getElementById('city').country);">
        <label for="name"> Team name: </label>
        <input id="name" type="text" th:field="*{name}" class="form-control mb-4 col-4">
        <label for="stadiumname"> Stadium Name: </label>
        <input id="stadiumname" type="text" th:field="*{stadiumname}" class="form-control mb-4 col-4">
        <label for="city"> City: </label>
        <input id="city" type="text" th:field="*{city}" class="form-control mb-4 col-4">
        <label for="country"> Country: </label>
        <input id="country" type="text" th:field="*{country}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Save Team</button>
        <button type="reset" class="btn btn-info col-2">Reset</button>
    </form>
</div>
<div class="container">
    <a th:href="@{/teams}"> Back to Teams page </a>
    <a th:href="@{/}"> Back to Homepage </a>
</div>

</body>
</html>