<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Chelsea Players Stats</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Attach event listeners to all delete buttons
        const table = document.getElementById('teamTable');
        table.addEventListener('click', function (event) {
            if (event.target.id && event.target.id.startsWith('deleteButton')) {
                // Get button and its associated data
                const button = event.target;
                const teamname = button.getAttribute('team-name');

                // Show alert with the text from the 'name' column
                const confirmDelete = confirm(`Are you sure you want to delete team ${teamname}?`);

                if (confirmDelete) {
                    // Remove the row from the DOM
                    const row = button.closest('tr');
                    row.remove();
                    return true;
                } else {
                    return false;
                }
            }
        });
    });
</script>

<div class="container">
    <h1> Teams </h1>
</div>
<div class="container">
    <a th:href="@{/teams/add}" class="btn btn-primary btn-sm mb-3"> Add a Team </a>
</div>
<div class="container">
    <table th:id="teamTable" style="width:80%" border="1" class ="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>No.</th>
            <th>Team</th>
            <th>Stadium</th>
            <th>City</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="team:${allteamlist}">
                <td th:text="${team.order}"></td>
                <td th:text="${team.name}"></td>
                <td th:text="${team.stadium}"></td>
                <td th:text="${team.city}"></td>
                <td th:text="${team.country}"></td>
                <td>
                    <a th:href="@{/teams/edit/{teamid}(teamid=${team.teamid})}"
                       class="btn btn-primary btn-sm mb-3"
                       th:id="editButton"> Edit </a>
                    <a th:href="@{/teams/delete/{teamid}(teamid=${team.teamid})}"
                       class="btn btn-primary btn-sm mb-3"
                       th:id="deleteButton"
                       th:attr="team-name=${team.name}"> Delete </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="container">
    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Back to Homepage </a>
</div>

</body>
</html>